.gradle/
build/
bin/
run/
logs/
crash-reports/

*.jar
!gradle/wrapper/gradle-wrapper.jar
*.zip
*.log
*.log.gz

.tmp*/
tmp_*/
tmp*/
src_decompiled/
src_common/
upstream_voxyserver/
external/

mcmodsrepo/
out/
*.class

.idea/
*.iml
.vscode/
